.partner-btn {
  background-color: $primary;
  color: $white;
  border: none;
  padding: 18px 24px;
  cursor: pointer;
  border-radius: 5px;
}

.cta-btn {
  background-color: $white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
