.courses-section {
  padding-inline: 50px;
  display: flex;
  gap: 14px;

  img {
    width: 407px;
  }
}

.cards-section {
  padding: 50px;
  padding-top: 0;

  display: flex;
  gap: 14px;

  img {
    width: 407px;
  }
}
