<div class="app-container">
  <!-- Start: Header -->
  <div class="header">
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="#">Resources</a></li>
        <li><a href="#">Solutions</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Practices</a></li>
        <li><a href="#">Contact Us</a></li>
        <button class="partner-btn">Become a Partner</button>
      </ul>
    </nav>
  </div>
  <!-- End: Header -->

  <!-- Start: Hero section -->
  <section class="hero-section">
    <div class="hero-text">
      <p class="text-header">India's most comprehensive</p>
      <h1>Partner Program for Referral and beyond.</h1>
      <p>
        One Partnership for all your client’s financial needs. Accept payments.
        Disburse payments. Manage payroll.
      </p>
      <button class="cta-btn">Become a Partner</button>
    </div>
  </section>
  <!-- End: Hero section -->

  <!-- Start: Industry section -->
  <section class="industry-section">
    <div class="industries-header">
      <img src="../assets/images/title.svg" />
      <h2>Industry we searve</h2>
    </div>
    <h2 class="header-txt">the best way to deal with win win</h2>
    <p>
      Cashfree's UPI AutoPay automates recurring payments to offer your
      customers a seamless subscription experience. Highest success rates and
      ease of integration combined with the
    </p>
  </section>
  <!-- End: Industry section -->

  <!-- Start: Articles section -->
  <section class="articles-section">
    <div class="article">
      <p>
        Businesses and individuals that send or receive payments in foreign
        currencies must understand the currency trends and the affective factor
        to predict an ideal currency exchange rate.
      </p>
      <p>
        Whether you're a seasoned investor, a business leader, or someone keen
        on understanding the evolving financial ecosystem, this blog highlights
        the potential trends and influences affecting the currency exchange
        rate, valuation, and a table with the currency exchange forecast this
        year.
      </p>
    </div>
    <div class="article">
      <h3>What is payroll software webapps suse to desing?</h3>
      <p>
        Businesses and individuals that send or receive payments in foreign
        currencies must understand the currency trends and the affective factor
        to predict an ideal currency exchange rate.Whether you're a seasoned
        investor, a business leader, or someone keen on understanding the
        evolving financial ecosystem, this blog highlights the potential trends
        and influences affecting the currency exchange rate, valuation, and a
        table with the currency exchange forecast this year.
      </p>
    </div>
    <div class="article">
      <h3>What is payroll software webapps suse to desing?</h3>
      <p>
        Businesses and individuals that send or receive payments in foreign
        currencies must understand the currency trends and the affective factor
        to predict an ideal currency exchange rate.Whether you're a seasoned
        investor, a business leader, or someone keen on understanding the
        evolving financial ecosystem, this blog highlights the potential trends
        and influences affecting the currency exchange rate, valuation, and a
        table with the currency exchange forecast this year.
      </p>
    </div>

    <div class="image-section">
      <img src="../assets/images/img.jpg" />
      <img src="../assets/images/img.jpg" />
      <img src="../assets/images/img.jpg" />
    </div>

    <div class="article">
      <h3>What is payroll software webapps suse to desing?</h3>
      <p>
        Businesses and individuals that send or receive payments in foreign
        currencies must understand the currency trends and the affective factor
        to predict an ideal currency exchange rate.Whether you're a seasoned
        investor, a business leader, or someone keen on understanding the
        evolving financial ecosystem, this blog highlights the potential trends
        and influences affecting the currency exchange rate, valuation, and a
        table with the currency exchange forecast this year.
      </p>
    </div>
  </section>
  <!-- End: Articles section -->

  <!-- Start: Courses section -->
  <section class="courses-section">
    <img src="./../assets/images/card.jpg" />
    <img src="./../assets/images/card.jpg" />
    <img src="./../assets/images/card.jpg" />
  </section>
  <!-- End: Courses section -->

  <!-- Start: Industry section -->
  <section class="industry-section">
    <div class="industries-header">
      <img src="../assets/images/title.svg" />
      <h2>Industry we searve</h2>
    </div>
    <h2 class="header-txt">the best way to deal with win win</h2>
    <p>
      Cashfree's UPI AutoPay automates recurring payments to offer your
      customers a seamless subscription experience. Highest success rates and
      ease of integration combined with the
    </p>
  </section>
  <!-- End: Industry section -->

  <!-- Start: Cards section -->
  <section class="cards-section">
    <img src="./../assets/images/card1.jpg" />
    <img src="./../assets/images/card2.jpg" />
    <img src="./../assets/images/card3.jpg" />
  </section>
  <!-- End: Cards section -->

  <!-- Start: Footer -->
  <footer>
    <img src="./../assets/images/footer.jpg" />
  </footer>
  <!-- End: Footer -->
</div>
