/* General Styles */
.app-container {
  background-image: url("./../../../assets/images/bg1.svg");
  background-position: right -300px;
  background-repeat: no-repeat;
}

.articles-section {
  padding-inline: 50px;
  padding-block: 0 20px;

  .article {
    margin-bottom: 30px;

    h3 {
      font-size: 1.5em;
      margin-bottom: 20px;
      font-family: "Poppins", sans-serif;
    }

    p {
      color: $descriptionColor;
      line-height: 30px;
      font-size: 17px;
    }
  }

  .image-section {
    display: flex;
    gap: 14px;
    margin-bottom: 30px;

    img {
      width: 407px;
      height: 412px;
    }
  }
}

footer {
  img {
    width: 100%;
  }
}
